:root {
    --org-primary-light-normal: #f0c7a5;
    --org-primary-light-hover: #f2c6a2;
    --org-primary-light-active: #ecc19e;

    --org-primary-dark-normal: #efa163;
    --org-primary-dark-hover: #e89c5f;
    --org-primary-dark-active: #d28d55;
    --btn-primary-hover: #e79b5e;

    --blue-secondary-light-normal: #96a0b6;
    --blue-secondary-light-hover: #4a566e;
    --blue-secondary-light-active: #374054;

    --blue-secondary-dark-normal: #27334c;
    --blue-secondary-dark-hover: #222c42;
    --blue-secondary-dark-active: #182135;

    --other-light-normal: #ffffff;
    --other-light-hover: #f8f8f8;
    --other-light-active: #f0f0f0;

    --other-dark-normal: #f7f5f1;
    --other-dark-hover: #eae5df;
    --other-dark-active: #dfd9d2;

    --transition-250: 250ms;

    --secondary-text-color: #a6a6a6;
}
