*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}
.icon20 {
    width: 20px;
    height: 20px;
}
.icon24 {
    width: 24px;
    height: 24px;
}
.dn {
    display: none;
}
