.section {
    padding: 60px 0;

    .container {
        width: 100%;
        padding: 0 58px;
    }

    &__title {
        color: var(--blue-secondary-dark-normal);
        margin-bottom: 16px;
    }
    &__txt {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}
