<div class="backdrop is-hidden" data-modal data-id="terms">
    <div class="modal">
        <button class="close-btn" type="button" data-modal-close>
            <svg class="icon-close">
                <use href="@img/svgicons/sprite/svg-sprite.svg#cross-icon"></use>
            </svg>
        </button>

        <!-- Content -->
        <h2>Terms</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ducimus excepturi id velit fugit suscipit beatae.
            Iusto, voluptatum. Voluptatibus, voluptatum! Inventore ex ut tempore corporis tenetur, error ducimus. Dolor
            autem recusandae tempore? At corporis unde debitis adipisci beatae officiis eveniet non nostrum voluptas
            architecto, dolor, dolorem sed, eius ea iure.</p>
    </div>
</div>

<div class="backdrop is-hidden" data-modal data-id="privacy">
    <div class="modal">
        <button class="close-btn" type="button" data-modal-close>
            <svg class="icon-close">
                <use href="@img/svgicons/sprite/svg-sprite.svg#cross-icon"></use>
            </svg>
        </button>

        <!-- Content -->
        <h2>Privacy</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ducimus excepturi id velit fugit suscipit beatae.
            Iusto, voluptatum. Voluptatibus, voluptatum! Inventore ex ut tempore corporis tenetur, error ducimus. Dolor
            autem recusandae tempore? At corporis unde debitis adipisci beatae officiis eveniet non nostrum voluptas
            architecto, dolor, dolorem sed, eius ea iure.</p>
    </div>
</div>

<div class="backdrop is-hidden" data-modal data-id="cookies">
    <div class="modal">
        <button class="close-btn" type="button" data-modal-close>
            <svg class="icon-close">
                <use href="@img/svgicons/sprite/svg-sprite.svg#cross-icon"></use>
            </svg>
        </button>

        <!-- Content -->
        <h2>Cookies</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ducimus excepturi id velit fugit suscipit beatae.
            Iusto, voluptatum. Voluptatibus, voluptatum! Inventore ex ut tempore corporis tenetur, error ducimus. Dolor
            autem recusandae tempore? At corporis unde debitis adipisci beatae officiis eveniet non nostrum voluptas
            architecto, dolor, dolorem sed, eius ea iure.</p>
    </div>
</div>