<nav class="navigation @@class">
    <ul class="navigation__list">
        <li class="navigation__list-item">
            <a class="navigation__link active" href="#" data-link-to-anchor>Home</a>
        </li>
        <li class="navigation__list-item">
            <a class="navigation__link" href="#property" data-link-to-anchor>Featured Listing</a>
        </li>
        <li class="navigation__list-item">
            <a class="navigation__link" href="#about" data-link-to-anchor>About</a>
        </li>
        <li class="navigation__list-item">
            <a class="navigation__link" href="#awards" data-link-to-anchor>Awards</a>
        </li>
        <li class="navigation__list-item">
            <a class="navigation__link" href="#resources" data-link-to-anchor>Resources</a>
        </li>
        <li class="navigation__list-item">
            <a class="navigation__link" href="#contact" data-link-to-anchor>Contact Us</a>
        </li>
    </ul>
</nav>