<div class="social">
    <ul class="social__list">
        <li class="social__list-item">
            <a href="https://www.facebook.com/" class="social__link" target="_blank" rel="noreferrer noopener">
                <svg class="accent icon24">
                    <use href="@img/svgicons/sprite/svg-sprite.svg#facebook"></use>
                </svg>
            </a>
        </li>
        <li class="social__list-item">
            <a href="https://www.twitter.com/" class="social__link" target="_blank" rel="noreferrer noopener">
                <svg class="accent icon24">
                    <use href="@img/svgicons/sprite/svg-sprite.svg#twitter"></use>
                </svg>
            </a>
        </li>
        <li class="social__list-item">
            <a href="https://www.instagram.com/" class="social__link" target="_blank" rel="noreferrer noopener">
                <svg class="accent icon24">
                    <use href="@img/svgicons/sprite/svg-sprite.svg#instagram"></use>
                </svg>
            </a>
        </li>
        <li class="social__list-item">
            <a href="https://www.linkedin.com/" class="social__link" target="_blank" rel="noreferrer noopener">
                <svg class="accent icon24">
                    <use href="@img/svgicons/sprite/svg-sprite.svg#linkedin"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>