.awards {
    .container {
        display: flex;
        align-items: center;
        gap: 46px;
    }
    &__right {
        flex-shrink: 0;
        padding: 10px 60px;
        border-radius: 30px;
        background-color: var(--other-light-active);
    }

    &__images {
        display: flex;
        flex-direction: column;
    }

    &__images-row {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &__images-item {
        width: 206px;
        height: 190px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }
}
