.contact-us {
    .container {
        padding: 0 10px;
    }
    &__wrapper {
        border-radius: 24px;
        background-color: var(--other-dark-normal, #f7f5f1);

        padding: 60px 48px;
        position: relative;

        @media screen and (max-width: 991.9px) {
            padding: 30px 20px;
        }
    }
    .section__info {
        padding-right: 184px;
        position: relative;

        @media screen and (max-width: 991.9px) {
            padding-right: 0;
        }
    }
    .section__txt {
        max-width: 900px;
    }

    &__contact-us-btn {
        position: absolute;
        bottom: 17px;
        right: 4px;

        @media screen and (max-width: 991.9px) {
            position: relative;
            bottom: 0;
            right: 0;
        }
    }

    &__content {
        margin-top: 40px;

        display: flex;
        align-items: center;
        gap: 9px;
        justify-content: space-between;

        padding-left: 62px;
        padding-right: 62px;

        @media screen and (max-width: 1315.9px) {
            gap: 20px;
        }

        @media screen and (max-width: 1199.9px) {
            padding-left: 0;
            padding-right: 0;
        }

        @media screen and (max-width: 991.9px) {
            align-items: flex-start;
        }

        @media screen and (max-width: 767.9px) {
            flex-direction: column;
            align-items: stretch;
        }
        @media screen and (max-width: 575.9px) {
            margin-top: 20px;
        }
    }

    &__info-list {
        flex-basis: calc(100% - 513px - 9px);

        display: flex;
        flex-wrap: wrap;
        gap: 42px;

        @media screen and (max-width: 1315.9px) {
            flex-basis: calc((100% - 20px) / 2);

            gap: 20px;
        }

        @media screen and (max-width: 991.9px) {
            flex-direction: column;
            gap: 36px;
        }

        @media screen and (max-width: 767.9px) {
            flex-direction: row;
            gap: 20px;
        }

        @media screen and (max-width: 575.9px) {
            flex-direction: column;
            gap: 36px;
        }

        .c-info {
            display: flex;
            flex-direction: column;
            &__icon {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background-color: var(--org-primary-dark-normal);
                margin-bottom: 24px;

                display: flex;
                align-items: center;
                justify-content: center;

                @media screen and (max-width: 991.9px) {
                    margin-bottom: 16px;
                }

                svg {
                    color: var(--other-light-normal);
                }
            }
            &__title {
                color: var(--blue-secondary-dark-normal);
                margin-bottom: 16px;

                @media screen and (max-width: 991.9px) {
                    margin-bottom: 8px;
                }
            }
            &__content {
                @media screen and (max-width: 1199.9px) {
                    word-break: break-all;

                    .social__list {
                        gap: 18px;
                    }
                }
            }
        }
    }
    &__info-list-item {
        flex-basis: calc((100% - 42px) / 2);
        &:last-child {
            .c-info__content {
                margin-top: 18px;
            }
        }

        @media screen and (max-width: 1315.9px) {
            flex-basis: calc((100% - 20px) / 2);
        }

        @media screen and (max-width: 991.9px) {
            flex-basis: 100%;
        }

        @media screen and (max-width: 767.9px) {
            flex-basis: calc((100% - 20px) / 2);
        }

        @media screen and (max-width: 575.9px) {
            flex-basis: 100%;
        }
    }

    &__form-wrapper {
        flex-basis: 513px;
        flex-shrink: 0;

        border-radius: 12px;
        background-color: var(--other-light-normal);
        padding: 40px;

        @media screen and (max-width: 1315.9px) {
            flex-basis: calc((100% - 20px) / 2);
        }

        @media screen and (max-width: 991.9px) {
            padding: 30px;
        }

        @media screen and (max-width: 767.9px) {
            flex-basis: 100%;
        }

        @media screen and (max-width: 575.9px) {
            padding: 20px;
        }

        .form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;

            &__row {
                flex-shrink: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 4px;
            }
            &__label {
                color: var(--blue-secondary-dark-normal);
            }
            &__input {
                width: 100%;
                color: var(--blue-secondary-dark-normal);
                padding: 17px 16px;

                border-radius: 8px;
                border: 1px solid rgba(150, 160, 182, 0.5);
                transition: var(--transition-250);

                &:hover,
                &:focus {
                    box-shadow: none;
                    outline: none;
                    border: 1px solid var(--org-primary-dark-normal);
                }

                &::placeholder {
                    color: rgba(74, 86, 110, 0.4);
                }

                @media screen and (max-width: 575.9px) {
                    padding: 12px;
                }
            }
            &__textarea {
                width: 100%;
                height: 88px;
                overflow-y: auto;
                color: var(--blue-secondary-dark-normal);
                resize: none;
                padding: 14px 16px;

                border-radius: 8px;
                border: 1px solid rgba(150, 160, 182, 0.5);
                transition: var(--transition-250);

                &:hover,
                &:focus {
                    box-shadow: none;
                    outline: none;
                    border: 1px solid var(--org-primary-dark-normal);
                }

                &::placeholder {
                    color: rgba(74, 86, 110, 0.4);
                }

                @media screen and (max-width: 575.9px) {
                    padding: 12px;
                }
            }
            &__btn {
                width: 100%;
                line-height: 1;
                padding: 16px 32px;
                height: 54px;
            }
        }
    }
}
