.header {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-top: 36px;
        padding-bottom: 36px;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 80px;
    }
}
