.property {
    .section__info {
        padding-right: 184px;
        position: relative;

        @media screen and (max-width: 991.9px) {
            padding-right: 0;
        }
    }
    .section__txt {
        max-width: 700px;
    }

    &__learn-more-btn {
        position: absolute;
        bottom: 0;
        right: 0;

        @media screen and (max-width: 991.9px) {
            position: relative;
        }
    }

    &__gallery {
        margin-top: 40px;
    }
}
