// @import './fonts';

//styles from package Choices.js
@import "../../node_modules/choices.js/src/styles/choices";

// import Swiper styles
@import "../../node_modules/swiper/swiper-bundle";

// base styles
@import "./base/common";
@import "./base/container";
@import "./base/text";
@import "./base/section";

// utils
@import "./utils/variables";

// components
@import "./components/buttons";
@import "./components/choices-js-custom-select";
@import "./components/gallery-label";
@import "./components/gallery-card-styles";
@import "./components/gallery-grid";
@import "./components/social-list";
@import "./components/logo";
@import "./components/navigation";
@import "./components/modal";
@import "./components/scroll-to-top-button";

// main layout
@import "./layout/header";
@import "./layout/hero";
@import "./layout/about-us";
@import "./layout/property";
@import "./layout/awards";
@import "./layout/resources";
@import "./layout/contact-us";
@import "./layout/swiperjs-section";
@import "./layout/footer";

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: var(--blue-secondary-light-hover);
    &.is-blocked {
        overflow: hidden;
    }
}
